.c-header {

    display: flex;
    justify-content: flex-end;
    margin-bottom: -80px;
    margin-right: 40px;
    margin-top: 30px;

    &__container {
        margin: 5px;
    }
    
    &__language-button {
        border-radius: 20%;
        font-family: got;
        background-color: rgba(0,0,0, 0.5);
        color: white;
        height: 44px;
        width: 44px;
    }

    &__home-button {
        border-radius: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../../Assets/Img/icons/castle-icon.png");
        background-color: rgba(0,0,0, 0.5);
        height: 44px;
        width: 44px;
    }
}