.c-houses-search {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: -50px;
    display: flex;
}

.text-houses-search {
    background: black;
    border: none;
    color: white;
    width: 500px;
    height: 32px;
    border-bottom: 2px;
    outline: none;    
}

.b-houses-search {

    width: 32px;
    height: 32px;
    background-color: black;
    background-image: url("../../../../Assets/Img/icons/search-icon.png");
    border: none;
    outline: none;
}

hr {
    border-radius: 10%;
    height: 1px;
    margin-left: 0;
    width: 530px;
    background-color: white;
}